{% load static %}

<!doctype html>
<html>
  <head>
    <title>Todo Lists
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/template.css" %}"></link>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url "todo_list_list" %}">All Todos</a>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
