@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: lightgray;
    margin: 0px;
    padding: 1em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-spacing: 0.5em;
}

th {
    border-bottom: 0.1em solid black;
}

td {
    text-align: center;
}

nav > a {
    padding: 0.5em;
    border: 0.1em solid black;
}
